body {
	
	background-color: gold;
} 

h1 {
	text-align: center;
	color: navy; 
} 

h4{
	
	font-size: 20px;
	color: red; 
	font-weight: bold; 

} 

label {
  font-weight: bold;
  font-size: 20px; 
 
}

 table, th, td {
	 
	 border: 3px solid black;
	 background-color: white; 
 } 
 
 
 table, td, th{
	 border: 3px solid black;
	 background: white; 
} 

ul {
  list-style-type: none;
} 


a:hover {
  color: hotpink;

  
}

input {
	color: purple;
	font-weight: bold; 
}


.number2 {
	color: purple;
	font-weight: bold; 