* {
	
	margin: 0; 
	padding: 9; 
	font-family: sans-serif;
}


body {
	
 background-image: url("picture.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0; 
  padding-bottom: 25 ; 
  display: block; 

	
  
} 

html, body {
  height: 100%;
}


h1 {
	text-align: center;
	color:#0000cc; 
} 

p {
	color: gold; 
	font-weight: bold;
} 


ul li {
	display: inline-block;


}

ul li a{
	display: block; 
	padding: 10px 45px; 
	color: #da2128;
	text-align: center; 
}

.Dunkin {
	
  background-color: blue;
  color: white;
  padding: 12px 24px;
  border-radius: 8px;
  text-decoration: none;
  display: inline-block;
 
}  

.Absurd{
	background-color: blue;
  color: white;
  padding: 12px 24px;
  border-radius: 8px;
  text-decoration: none;
  display: inline-block;
} 


.Chicken{
	
	
  background-color: blue;
  color: white;
  padding: 12px 24px;
  border-radius: 8px;
  text-decoration: none;
  display: inline-block;
} 

.En {
	
   background-color: blue;
  color: white;
  padding: 12px 24px;
  border-radius: 8px;
  text-decoration: none;
  display: inline-block;
} 

.Halal{
   background-color: blue;
  color: white;
  padding: 12px 24px;
  border-radius: 8px;
  text-decoration: none;
  display: inline-block;
} 

.Mato {
	
  background-color: blue;
  color: white;
  padding: 12px 24px;
  border-radius: 8px;
  text-decoration: none;
  display: inline-block
}

.Starbuck

{
	background-color: blue;
  color: white;
  padding: 12px 24px;
  border-radius: 8px;
  text-decoration: none;
  display: inline-block
} 
	
	
.Sushi{
		
background-color: blue;
  color: white;
  padding: 12px 24px;
  border-radius: 8px;
  text-decoration: none;
  display: inline-block
} 



.nav-bar {
  background: lightblue; 
  backdrop-filter: blur(6px);
  padding: 20px;
  margin: 20px auto;
  border-radius: 20px;
  width: fit-content;
  display: flex;
  justify-content: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}




.nav-bar a {
  display: inline-block;
}



.nav-bar a:hover {
  background-color: darkblue;
}
